// Base fonts
baseFontLight = 'lato-light-webfont', sans-serif, arial
baseFontRegular = 'lato-regular-webfont', sans-serif, arial
baseFontBold = 'lato-bold-webfont', sans-serif, arial

baseFontBold2 = 'playfairdisplay-bold-webfont', sans-serif, arial

baseFont = baseFontLight
baseFontTitle = baseFontBold2

// Base color
primaryBlackColor = #2c2a28
primaryGreyColor = #6c6a68
primaryGoldenColor = #c0a064

// Base font color
baseFontColor = primaryGreyColor
baseFontColorTitle = primaryBlackColor

// z-index
$z-index1 = 9999999
$z-index2 = 999999
$z-index3 = 99999
$z-index4 = 9999
$z-index5 = 999