@import 'base/_typography.styl'

@import '_var.styl'
@import '_mixin.styl'

@import 'layout/_layout.styl'

@import 'components/_social.styl'
@import 'components/_logo.styl'
@import 'components/_buttons.styl'
@import 'components/_form.styl'

.hero
    background url('images/content/hero/backgroundImageHero.png') no-repeat center / cover

.hero__row
    display flex
    align-items center
    height 100vh

.hero__col
    width 100%

.hero__cont
    text-align center

.hero__desc
    margin-bottom 116px

.hero__title
    font-size 60px
    line-height 90px
    color primaryGoldenColor
    & + span 
        font-size 28px
        line-height 41px

.recent
    padding 114px 0

.recent__title
    margin-bottom 46px
    text-align center

.recent__row
    display flex
    justify-content: space-between
    &:not(:last-child)
        margin-bottom 20px

.recent__col
    width 100%
    &_desktop_md
        width 66%
    &_desktop_sm
        width 31.5%
        .recent__work
            &:not(:last-child)
                margin-bottom 27px

.coll
    padding 118px 0
    .container
        padding 0

.coll__row
    display flex
    justify-content space-between

.coll__col
    width 50%
    .coll__img
        height 100%
        img 
            height inherit

.coll__cont
    padding 54px 120px 38px 58px

.coll__desc 
    margin-bottom 56px
    h2
        margin-bottom 22px

.coll__btn
    padding 0 56px

.cont
    padding 120px 0 52px 0

.cont__title
    margin-bottom 48px
    text-align center

@import 'components/_nav.styl'
@import 'components/_header.styl'
@import 'components/_footer.styl'