@import 'base/_typography.styl'

@import '_var.styl'
@import '_mixin.styl'

@import 'layout/_layout.styl'

@import 'components/_social.styl'
@import 'components/_logo.styl'
@import 'components/_buttons.styl'
@import 'components/_form.styl'

.hero
    background url('images/content/hero/backgroundImageHero.png') no-repeat center / cover

.hero__row
    display flex
    align-items center
    height 100vh

.hero__col
    width 100%

.hero__cont
    text-align center

.hero__desc
    margin-bottom (116em/16)

.hero__title
    font-size (60em/16)
    line-height (90em/60)
    color primaryGoldenColor
    & + span 
        font-size (28em/16)
        line-height (41em/28)

.recent
    padding (114em/16) 0

.recent__title
    margin-bottom (46em/16)
    text-align center

.recent__row
    display flex
    justify-content: space-between
    @media (orientation portrait) and (max-width 1024px)
        flex-direction column
    &:not(:last-child)
        margin-bottom (20em/16)
        @media (orientation portrait) and (max-width 1024px)
            margin-bottom (22em/16)

.recent__col
    width 100%
    &_desktop_md
        width 66%
        @media (orientation portrait) and (max-width 1024px)
            width 100%
            margin-bottom (21em/16)
    &_desktop_sm
        width 31.5%
        @media (orientation portrait) and (max-width 1024px)
            width 100%
            display flex
            justify-content space-between
        .recent__work
            &:not(:last-child)
                margin-bottom (27em/16)
                @media (orientation portrait) and (max-width 1024px)
                    margin 0 (27em/16) 0 0

.coll
    padding 118px 0
    .container
        padding 0
        @media (orientation portrait) and (max-width 1024px)
            padding 0 1em

.coll__row
    display flex
    justify-content space-between
    @media (orientation portrait) and (max-width 1024px)
        flex-direction column
        text-align center
        &:nth-child(even)
            .coll__col:first-child
                order 2
            .coll__col:last-child
                order 1
        &:not(:last-child)
            margin-bottom (120em/16)

.coll__col
    width 50%
    @media (orientation portrait) and (max-width 1024px)
        width 100%
    .coll__img
        height 100%
        img 
            height inherit

.coll__cont
    padding (54em/16) (120em/16) (38em/16) (58em/16)
    @media (orientation portrait) and (max-width 1024px)
        max-width (420em/16)
        padding (46em/16) 0 0 0
        margin 0 auto

.coll__desc 
    margin-bottom (56em/16)
    h2
        margin-bottom (22em/36)

.coll__btn
    padding 0 (56em/18)

.cont
    padding (120em/16) 0 (52em/16) 0
    @media (orientation portrait) and (max-width 1024px)
        padding (112em/16) 0 (52em/16) 0

.cont__title
    margin-bottom (48em/16)
    text-align center

@import 'components/_nav.styl'
@import 'components/_header.styl'
@import 'components/_footer.styl'