@import 'base/_typography.styl'

@import '_var.styl'
@import '_mixin.styl'

@import 'layout/_layout.styl'

.hero
    background url('images/content/hero/backgroundImageHero.png') no-repeat center / cover

.hero__row
    display flex
    align-items center
    height 100vh

.hero__col
    width 100%

.hero__cont
    text-align center

.hero__desc
    margin-bottom 124px

.hero__title
    font-size 60px
    line-height 90px
    color primaryGoldenColor
    & + span 
        font-size 24px
        line-height 36px

.coll
    padding 120px 0
    .container
        padding 0

.coll__row
    display flex
    justify-content space-between

.coll__col
    width 50%

.coll__cont
    padding 50px 120px 38px 60px

.coll__desc 
    margin-bottom 62px
    h2
        margin-bottom 42px

@import 'components/_buttons.styl'
@import 'components/_header.styl'
@import 'components/_nav.styl'
@import 'components/_logo.styl'
@import 'components/_social.styl'
@import 'components/_footer.styl'