@font-face
    font-family 'lato-bold-webfont'
    src url('fonts/lato-bold-webfont.woff'),
        url('fonts/lato-bold-webfont.woff2')

@font-face
    font-family 'lato-light-webfont'
    src url('fonts/lato-light-webfont.woff'),
        url('fonts/lato-light-webfont.woff2')

@font-face
    font-family 'lato-regular-webfont'
    src url('fonts/lato-regular-webfont.woff'),
        url('fonts/lato-regular-webfont.woff2')

@font-face
    font-family 'playfairdisplay-bold-webfont'
    src url('fonts/playfairdisplay-bold-webfont.woff'),
        url('fonts/playfairdisplay-bold-webfont.woff2')