*,
*::before,
*::after
    box-sizing border-box

html
    font: 1em / 1.625em baseFont
    color primaryBlackColor

.sect
    position relative

.container
    width 98%
    max-width (1200em/16)
    padding 0 1em
    margin 0 auto
    @media (orientation portrait) and (max-width 1024px)
        max-width (720em/16)

for $n in (1..6)
    h{$n}
        margin 0
        font-size (36em/16)
        line-height (48em/36)
        font-family baseFontTitle
        // font 2.25em / 48px baseFontTitle

ul,
li
    padding 0
    margin 0
    list-style none

p
    margin 0

a 
    text-decoration none 
    color primaryBlackColor

img
    display inline-block
    width 100%

button 
    border none
    margin 0
    padding 0
    width auto
    overflow visible
    background transparent
    color inherit
    font inherit
    line-height normal
    cursor pointer
    -webkit-font-smoothing inherit
    -moz-osx-font-smoothing inherit
    -webkit-appearance none