header.header
    .container
        .header__inner
            //- Navigator
            include _nav
            //- Navigator end

            //- Logo
            .header__banner.banner
                a(href="javascript:void(0);")
                    img(src="images/general/logo.png", alt="logo pic")
            //- Logo end

            //- Social bar 
            .header__social.social
                ul
                    //- #1
                    li
                        a(href="javascript:void(0)").social__bh
                    //- #1 end

                    //- #2
                    li
                        a(href="javascript:void(0)").social__fb
                    //- #2 end

                    //- #3
                    li
                        a(href="javascript:void(0)").social__tw
                    //- #3 end

                    //- #4
                    li
                        a(href="javascript:void(0)").social__inst
                    //- #4 end

            //- Social bar end 
