nav.header__nav.mainnav
    ul
        //- #1
        li
            a(href="javascript:void(0);") Home
        //- #1 end
        
        //- #2
        li
            a(href="javascript:void(0);") Gallery
        //- #2 end

        //- #3
        li
            a(href="javascript:void(0);") Contact
        //- #3 end