extends layout/_layout

block title
    | Freebie free templates
block content
    
    // main content
    main.page__main
        
        //- Header 
        include modules/_header
        //- Header end

        //- Hero section 
        section.sect.hero
            .container
                .hero__row
                    .hero__col
                        .hero__cont
                            .hero__desc
                                h1.hero__title Free portfolio template
                                span for photographers

                            a(href="javascript:void(0);").hero__btn.btn.btn_color_golden Discover
        //- Hero section end

        //- Recent works section
        section.sect.recent
            .container
                h2.recent__title Recent works

                //- Row-1 
                .recent__row
                    .recent__col.recent__col_desktop_md
                        .recent__work
                            img(src="images/content/recent/img-1.png", alt="recent work pic")
                    .recent__col.recent__col_desktop_sm
                        .recent__work
                            img(src="images/content/recent/img-2.png", alt="recent work pic")
                        .recent__work
                            img(src="images/content/recent/img-3.png", alt="recent work pic")
                //- Row-1 end

                //- Row-2
                .recent__row
                    .recent__col
                        .recent__work
                            img(src="images/content/recent/img-4.png", alt="recent work pic")
                //- Row-2 end
        //- Recent works section end

        //- Collection section
        section.sect.coll
            .container
                //- Row-1
                .coll__row
                    .coll__col
                        .coll__img
                            img(src="images/content/collection/img-1.png", alt="collection pic")
                    .coll__col
                        .coll__cont
                            .coll__desc
                                h2 B&amp;W Collection
                                p 
                                    | They were six beautiful children but the youngest was the prettiest of them all. 
                                    | Her skin was as clear and delicate as a rose-leaf and her eyes as blue as the deepest sea. 
                                    | But like all the others she had no feet and her body ended in a fish’s tail.
                            
                            a(href="javascript:void(0);").coll__btn.btn.btn_color_golden More
                //- Row-1 end

                //- Row-2
                .coll__row
                    .coll__col
                        .coll__cont
                            .coll__desc
                                h2 Mother Earth
                                p
                                    | And racism will be dead, for variety will then be the great fact of Humanity, and not uniformity. 
                                    | Mother Earth will finally have given birth not to merely a Terrestrian, but to a Galactic Empire.

                            a(href="javascript:void(0);").coll__btn.btn.btn_color_golden More
                    .coll__col
                        .coll__img
                            img(src="images/content/collection/img-2.png", alt="collection pic")
                //- Row-2 end

                //- Row-3
                .coll__row
                    .coll__col
                        .coll__img
                            img(src="images/content/collection/img-3.png", alt="collection pic")
                    .coll__col
                        .coll__cont
                            .coll__desc
                                h2 Portraits
                                p
                                    | 'Yes, we went to school in the sea, though you mayn't believe it—' 'I never said I didn't!' interrupted Alice. 
                                    | 'You did,' said the Mock Turtle. 'Hold your tongue!' added the Gryphon, before Alice could speak again.
                            
                            a(href="javascript:void(0);").coll__btn.btn.btn_color_golden More
                //- Row-3 end
        //- Collection section end

        //- Contact section
        section.sect.cont
            .container
                .cont__row
                    .cont__col
                        .cont__cont
                            h2.cont__title Get in touch

                            form(action="").form.cont__form
                                .form__field
                                    //- #1 input
                                    label(for="name-id").form__label
                                    input(type="text", name="name", placeholder="Your Name", id="name-id").form__input
                                    //- #1 input end

                                    //- #2 input
                                    label(for="email-id").form__label
                                    input(type="text", name="email", placeholder="Email", id="email-id").form__input.form__input_type_no-border
                                    //- #2 input end

                                    //- #3 input
                                    label(for="message-id").form__label
                                    textarea(name="message", rows="8", placeholder="Message", id="message-id").form__input
                                    //- #3 input end

                                button(type="submit").form__btn.form__btn_type_submit.btn.btn_color_golden Send
        //- Contact section end

        //- Footer 
        include modules/_footer
        //- Footer end

    // main content end
