extends layout/_layout

block title
    | Freebie free templates
block content
    
    // main content
    main.page__main
        
        //- Header 
        include modules/_header
        //- Header end

    // main content end
