.btn
    display inline-block
    height 56px
    padding 0 66px
    font 18px baseFontBold
    line-height 52px
    text-transform uppercase
    border 2px solid primaryBlackColor 
    opacity .7
    transition all .3s
    &_color_golden
        color primaryGoldenColor
        border-color primaryGoldenColor
    &:hover
        opacity 1
    