.footer
    padding-bottom 60px

.footer__title
    margin-bottom 22px
    font-size inherit 
    line-height inherit
    font-family baseFont
    text-align center

.footer__social
    ul
        justify-content center