.footer
    padding-bottom (60em/16)

.footer__title
    margin-bottom (22em/16)
    font-size inherit 
    line-height inherit
    font-family baseFont
    text-align center

.footer__social
    ul
        justify-content center