.form
    max-width (370em/16)
    margin 0 auto

.form__field
    margin-bottom (20em/16)
    border-left 1px solid primaryGreyColor
    border-right 1px solid primaryGreyColor

.form__label
    position absolute
    top -100%
    left -100%
    visibility hidden

.form__input
    display block
    width 100%
    padding (18em/16)
    border none
    border-top 1px solid primaryGreyColor
    border-bottom 1px solid primaryGreyColor
    &.form__input_type_no-border
        border none

.form__btn
    &_type_submit
        display block
        width 100%