.header
    position absolute
    top 0
    left 0
    z-index $z-index3
    width 100%

.header__inner
    display flex
    padding 1.5em 0
    align-items center
    justify-content space-between
    @media (orientation portrait) and (max-width 1024px)
        padding 1.75em 0

.header__navbar
    @media (orientation portrait) and (max-width 1024px)
        order 2

.header__banner
    @media (orientation portrait) and (max-width 1024px)
        order 1

.header__social
    @media (orientation portrait) and (max-width 1024px)
        display none