.mainnav
    ul 
        display flex
        align-items center
    li
        &:not(:last-child)
            margin-right 30px
    a
        font 16px / 36px baseFontBold
        color primaryGreyColor
        &:hover
            color inherit