.social
    ul
        display flex
        align-items center
    li
        &:not(:last-child)
            margin-right 24px
    a
        display block
        &.social__bh
            width 27px 
            height: 16px
            background url('images/sprites/social.png') -10px -10px
            &:hover
                background url('images/sprites/social_hover.png') -10px -10px
        &.social__fb
            width 7px 
            height: 18px
            background url('images/sprites/social.png') -57px -46px
            &:hover
                background url('images/sprites/social_hover.png') -57px -46px
        &.social__tw
            width 19px
            height 16px
            background url('images/sprites/social.png') -57px -10px
            &:hover
                background url('images/sprites/social_hover.png') -57px -10px
        &.social__inst
            width 18px 
            height 18px
            background url('images/sprites/social.png') -10px -46px
            &:hover
                background url('images/sprites/social_hover.png') -10px -46px

    